body{

}
/*div { outline: solid thin black;}*/

/*.header{
    margin-top: 40px;
}*/
/*nav{
   width: 1000px;
   margin: 0 auto;
}
nav ul{
    border-top: 4px solid black;
}
nav ul li{
    display: block;
    float: left;
    outline: thin solid orange;
}
nav ul li a{
    text-decoration: none;
}*/
.row img{
    /*margin-top: 38px;*/
    
}
.head-img{
    margin-top: 38px;
}
/*div .row{
    height: 37px;
} */
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px){
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
        margin-right: -15px;
        margin-left: -15px; 
    }
}
div.row{

}
.navbar {
  position: relative;
  min-height: 37px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-default{
    margin-top: 34px;
    background-color: white;
    border: solid 0px transparent;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 0;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, Georgia, sans-serif;
    font-size: 14px;
    line-height: 1.28em;
    padding: 10px;
    width: 134px;
    text-align: center;
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: black;
    color: white;
}
#sida{
    width: 136px;
}
.carousel-inner{
    /*height: 486px;*/
}
.sub-heading{
    width: 209px;
    padding-left: 0px;
}