body{

}
/*div { outline: solid thin black;}*/

/*.header{
    margin-top: 40px;
}*/
/*nav{
   width: 1000px;
   margin: 0 auto;
}
nav ul{
    border-top: 4px solid black;
}
nav ul li{
    display: block;
    float: left;
    outline: thin solid orange;
}
nav ul li a{
    text-decoration: none;
}*/
.row img{
    margin-top: 38px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px){
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
        margin-right: -15px;
        margin-left: -15px; 
    }
}
.navbar-default{
    background-color: white;
    border: solid 0px transparent;
    border-top: 4px solid black;
    border-radius: 0;
}
.navbar-default .navbar-nav > li > a{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, Georgia, sans-serif;
    line-height: 1.28em;
    padding: 10px;
}